extends ../layout
include ../mixins/_info
include ../mixins/_nav

block title
  +info("About")

block header
  +nav("about")

block content
  // Hero
  section(id="hero" class="hero")
    .container-fluid.container-lg.text-center
      h1.title.mb-5
        span.sub-title    About me
      
          //- p.lead.
            
  section.section
    .container
      .row.pb-5
        .col-12.d-flex
          div(class="img-container mb-4 m-auto")
            picture
              source( srcset=`/assets/images/${picture2.normal}, /assets/images/${picture2.normal2x} 2x` media="(min-width: 410px)")
              img(
                class="img-fluid rounded"
                src=`/assets/images/${picture2.small}`
                alt=title
                width="600"
                height="668"
              )
        .col-12
          div(class="container")
            if about.paragraphs
              each paragraph in about.paragraphs
                p.grid-hor-bg   #{paragraph.text}
            else
              p   #{work}

  // Call To Action
  include ../includes/cta