extends ../layout
include ../mixins/_info
include ../mixins/_nav

block title
  +info("")

block header
  +nav("home")

block content
  //  Hero
  section(id="hero" class="hero section")
    .container-fluid.container-lg
      //- .row.row-cols-1.row-cols-sm-2
      .row
        .col-12.col-md-5.d-flex
          div(class="img-container mb-5 m-auto")
            picture 
              //- source( srcset="logo-480.png, logo-480-2x.png 2x" media="(min-width: 435px)")
              //- source(media="(min-width: 435px)" srcset=`/assets/images/${picture1.small} 1x, /assets/images/${picture1.small2x} 2x`)
              source(media="(min-width: 435px)" srcset=`/assets/images/${picture1.medium} 1x, /assets/images/${picture1.medium2x} 2x`)
              img(
                class="img-thumbnail pic-frame"
                src=`/assets/images/${picture1.small}`
                srcset=`/assets/images/${picture1.small} 1x, /assets/images/${picture1.small2x} 2x`
                alt=title
                width="500"
                height="587"
              )
        
        .col-12.col-md-7
          div(class="container-fluid container-sm")
            .text-center
              h1.heading.m-1  #{header}
              
              p(class="small")
                span.accent Multiple Amazon Bestselling Author
                span.mx-3 | 
                span.accent Digital Entrepreneur


              p(class="fade-in my-5 lead") #{work}
              
              //- a(class="btn btn-main" href="/about") Read More
              a(class="btn btn-gold" href="/about") Checkout My Full Bio

      //- include ./includes/snow-anim.pug
  
  //  Ad Pane
  //- div(id="promo" class="top-ad")
  include ../includes/ad

  //  Services
  include ../includes/services

  //  Resources
  include ../includes/resources

  //- //  Portfolio
  //- include ./includes/portfolio
  
  //  Testimonials
  include ../includes/testimonials

  //  Call To Action
  include ../includes/cta
