mixin offerCard(offer)
  .col
    //- div(class="card h-100 border-0")
    div(class="shadow h-100")
      div(class="card-header bg-transparent border-0")
        img(
          src=`/assets/icons/${offer.poster}`
          class="img-thumbnail"
          alt= ""
          width="60"
          height="60"
          loading="lazy"
        )
      if offer.cta
        div(class="card-body")
          h3(class="heading")     #{offer.title}
          p(class="card-text")    #{offer.description}
          //- button(id="view-btn" class="btn btn-main")= offer.cta
          a(class="btn btn-main" href=offer.link)   #{offer.cta}
      else
        div(class="card-body")
          h3(class="heading")     #{offer.title}
          p(class="card-text")    #{offer.description}
