mixin serviceCard(service)
  .col
    div(class="service-card shadow h-100")
      div(class="p-3")
        img(
          src=`/assets/icons/${service.poster}`
          class="img-thumbnail p-2"
          alt=""
          width="60"
          height="60"
          loading="lazy"
        )

      div(class="card-body")
        h2(class="card-title title")
          span.sub-title  #{service.title}

        if service.details.paragraphs
          each paragraph in service.details.paragraphs
            //- p(class="card-text grid-hor-bg")= paragraph.text
            p(class="card-text")= paragraph.text

        else
          //- p(class="card-text grid-hor-bg")= service.details
          p(class="card-text")= service.details
