mixin serviceCard(service)
  .col
    div(class="card d-md-flex service-card")
      div
        img(
          src=`/images/${service.poster}`
          class="card-img-top p-2"
          alt=`an image of ${service.poster}`
          width="200"
          height="150"
          loading="lazy"
        )
      if service.paragraphs
        div(class="card-body")
          h4(class="card-title title")
            span.sub-title  #{service.title}
          each paragraph in service.paragraphs
            p(class="card-text")= paragraph.text
      else
        div(class="card-body")
          h4(class="card-title title")
            span.sub-title  #{service.title}
          p(class="card-text")= service.description
