mixin testimonialCard(testimonials)

    each testimonial, index in testimonials
      //- div #{index} #{testimonial.author} #{index==0}
      //- if index==0
      div(class="carousel-item" class={active: index === 0})
        figure(class="card testimonial-card border-0")
          div(class="card-header border-0 d-flex justify-content-between")
            if testimonial.avatar!=""
              img(
                src=`/assets/icons/${testimonial.avatar}`
                class="img-thumbnail"
                alt= ""
                width="70"
                height="100"
                loading="lazy"
              )
          
            else 
              .avatar.rounded-circle  #{testimonial.initials}
          
            figcaption  
              p(class="m-0 card-title author")  #{testimonial.author}
              p(class="m-0 muted small")  #{testimonial.desc}
          
          div(class="card-body p-4 small")
            blockquote= testimonial.comment
          div(class="card-footer cta-black border-0")
            p(class="m-0 small")
              span.accent #{testimonial.type}: 
              span #{testimonial.title}           
            